* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h3
{
	text-align: center;
	margin:30px 0px 0px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}

.header_img
{
	background-image: url("https://angular-movies-c91ba.firebaseapp.com/background-main.jpg");
	background-attachment: fixed;
	background-size: cover;
	height:400px;
}


.material-symbols-outlined
{
	font-size:23px;
	line-height:0px;
	margin:9px 0px 0px;
	color:white;
}

.contenedor
{
	width:50%;
	margin: 40px auto;
	display:grid;
	grid-template-columns: auto auto auto;
	column-gap: 20px;
	row-gap: 30px;
	text-align: center;
	padding:0px 0px 60px;
}


.contenedor .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

input[type="number"], input[type="text"]
{
	border-radius: 12px;
	border:none;
	padding:2px 10px;
}

.data
{
	text-align: center;
}

.data > div
{
	padding:14px 0px 0px;
}

.data > div:last-child
{
	padding-bottom:25px;
}

.imagenPeli, .textoPeli 
{
	border-radius: 12px;
	
}
.textoPeli
{
	background-color: white;
	padding:12px;
	margin: 11px 0px 20px;
}

.imagenPeli
{
	width:100%;
}

p{
	font-size:15px;
	line-height:18px;
}
.NotaPeli
{
	padding:5px 8px;
	border-radius: 15px;
	background-color:green;
	color:white;
}

.menu
{
	padding:10px 20px;
	background-color:#100a1f;
	background-attachment: fixed;

}
.menu > div
{
	padding:10px 0px;
	color:white;
}


.menu_flex, .menu_apartados > :first-child
{
	display:flex;

}

.menu_flex > :first-child
{
	padding:0px 20px 0px 0px;
}

.menu_flex > :last-child
{
	padding:0px 0px 0px 45%;
}

.menu_apartados > div
{
	padding:10px 0px;

}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button, .button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover, .button:hover {
	background: #137c32;
}

/*Responsive*/
@media only screen and (max-width: 640px) {
	.contenedor
	{
		display:block;
		width:100%;
		padding:0px 40px 60px;
	}
	.paddingMobile
	{
		padding:0px 20px;
	}
	.menu_apartados > div
	{
		text-align: center;
	}
	.material-symbols-outlined
	{
		margin-left:auto;
		margin-right:auto;
	}
}
